/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-3-25, 15:42:04
    Author     : xiewenfeng
*/

.error{
    color:red;
    font-size:10px;
}
.validate_code{
    cursor: pointer;
}
.leftList{
    float:left;
    width:30%;
}
.rightContent{
    float:left;
}
.clearBoth{
    clear:both;
}
.success{
    color:green;
    font-size:10px;
}