/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-3-25, 15:42:04
    Author     : xiewenfeng
*/

.error{
    color:red;
    font-size:10px;
}
.validate_code{
    cursor: pointer;
}

.rightContent{
    float:left;
}
.clearBoth{
    clear:both;
}
.success{
    color:green;
    font-size:10px;
}
.thumb-item{
    float:left;
}
.game-item{
    text-align: center;
    float: left
}
.game-item-image{
    height:100px;
}
.container{
    width:960px;
    margin:20px auto;
    position: relative;
}
ul{
    padding-left:2em;
    list-style: none
}
*{
    margin:0;
    padding:0
}
.nav ul li{
    float: left;
    
}
.nav ul li a{
    display: block;
    padding:10px;
}
.comment-item{
    border-top:1px dotted background
}
a{
    text-decoration: none
}
.game-left{
    float: left;
}
.game-right{
    float:right;
}
.nav .curr{
    background:#dedede
}
.item-image{
    width:100px;
}
.fright{
    float: right;
}
.fleft{
    float: left;
}
.copyright{
    font-size:10px;
    text-align: center
}
.top{
    font-size:small;
    background: #F0F0EE;
    border-bottom: 1px solid #dedede;
    text-align: right
}
.space-left{
    float: left;
    width: 200px;
}